body {
    font-family: serif;
}

nav {
    display: flex;
    height: 100px;
    background-color: black;
}

ul {
    width: 50%;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
}

ul a {
    width: 25%;
    min-width: 50px;
    display: flex;
    margin: 0;
    float: left;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

ul a:hover {
    color: black;
    background-color: grey;
    text-decoration: none;
}

input {
    height: 15px;
    width: 80%;
    margin-right: 5px;
}

#search {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}

#CFH {
    display: flex;
    background-color: purple;
    color: white;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin: 0;
}

#cart {
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}